:root {
	--main-color: #507ceb;
}
.services--page .spec--service {
    transition: all ease-in-out 0.5s;
}
.services--page .spec--service:hover{
    border: 1px solid var(--main-color);
    border-top: none;
}
.services--page .spec--service a {
    color: #FFF !important
}
.services--page .service--cta {
    opacity: 0;
    transition: all ease-in-out 0.3s;

}

.services--page .spec--service:hover .service--cta {
    opacity: 1
}