@import "../../../../public/sass/base/variables";
.donate-button {
    border-radius: 50px !important;
    font-weight: 100;
    padding: 5px 50px;
}
.donate-button:hover {
    color: #fff !important;
}
.logo {
    cursor: pointer;
}

.search--icon {
    height: 15px;
}
.close--icon {
    position: absolute;
    width: 22px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    top: 60%;
    margin-top: -18px;
    right: 82px;
    font-size: 24px;
    color: #636A75;
    cursor: pointer;
    height: 15px;
}